// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #EFEFEF !important;
}

.account-summary{
  text-align: left;
  margin-bottom: 20px;
}

.profile-pic{
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.profile-stats{
  max-width: 360px;
  margin-bottom: 30px;
  //float: left;
}

.follower-suggestions{
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.profile-post{
  margin-top: 50px;
}

.class-padding-15{
  padding: 20px;
}

.m-r-15{
  margin-right: 15px;
}

.m-r-10{
  margin-right: 10px;
}

.m-l-15{
  margin-left: 15px;
}

.m-b-30{
  margin-bottom: 30px;
}