/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


/*FOR FORM PREVIEW PICTURE*/
    #form1{
        width:auto;
    }

    .alert{
        text-align:center;
    }

    #blah{
        max-height:256px;
        height:auto;
        width:auto;
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding:5px;
    }

    #img_contain{
        border-radius:5px;
        /*  border:1px solid grey;*/
        margin-top:20px;
        width:auto;
    }