%h5.my-0.mr-md-auto.font-weight-normal.text-info JDIgram
%nav.my-2.my-md-0.mr-md-3= link_to "Registration", registrations_path, :class => "btn btn-outline-primary"
%nav.my-2.my-md-0.mr-md-3= link_to "Login", login_path, :class => "btn btn-outline-primary"