-@follower_suggestions.each do |account|
  .recommended-follower
    .row
      .col-sm-3.col-lg-2
        =link_to profile_picture(account, 40), profile_path(account.username)
      .col-sm-9.col-lg-10
        %i{id: "my-#{account.id}-friend"}
          =render "accounts/button_add_to_friend", friend: account.id
        =link_to account.username, profile_path(account.username), :class => "text-dark"
    %p=account.created_at < 1.days.ago ? "New to this Application" : "Followed by X users"