-@accounts.each do |account|
  .account-summary
    -if account.username != current_account.username
      - this_friend = Follower.find_by(following_id: account.id, follower_id: current_account.id)
      =link_to profile_picture(account, 70), profile_path(account.username)
      =link_to account.username, profile_path(account.username), :class => "text-dark"
      -if this_friend
        %i{id: "my-#{this_friend.following_id}-friend"}
          = link_to 'Delete', destroy_friend_path(this_friend), method: :delete, class: "btn btn-danger btn-sm float-right delete", data: { remote: true}
      -else
        %i{id: "my-#{account.id}-friend"}
          = render "accounts/button_add_to_friend", friend: account.id