-@accounts.each do |account|
  .row
    -if account.username != current_account.username
      .col-sm-3.col-lg-2

        =link_to profile_picture(account, 40), profile_path(account.username)
        =link_to account.username, profile_path(account.username), :class => "text-dark"
      .col-sm-9.col-lg-10
        =form_tag follow_account_path, method: :post, class: "float-right" do
          = hidden_field_tag :follow_id, account.id
          = submit_tag "Follow", class: "btn btn-info btn-sm"










