.container
  .row
    .col-4
      =profile_picture @account, 200
    .col-8.text-left
      .row
        .col-6
          %h1
            -if current_account.username == @account.username
              = link_to 'Edit profile', edit_account_registration_path, :class => "btn btn-outline-info float-right"
            = @account.full_name

      .row.profile-stats
        .col-4
          =@account.posts.count
          posts
        .col-4
          =@account.total_followers
          followers
        .col-4
          =@account.total_following
          following

      %p=@account.full_name
      =simple_format @account.description
      %p=link_to @account.website if @account.website.present?
  .row.profile-post
    -@posts.each do |post|
      .col-4
        .insta-post
          %br
          =image_tag post.image.url, class: "img img-fluid"
